# Python
__pycache__/
*.py[cod]
*.class

# Virtual environments
.venv/
venv/
env/

# Django
db.sqlite3

# Collected static files
staticfiles/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
